nav{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: cadetblue;
    gap: 45px;
}

nav a{
    text-decoration: none;
    color:white;
}

nav a:hover{
    color:lightslategray;
}

nav a svg{
    margin-right: 5px;
}
